html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, section, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer,
section, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

b, strong {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

.article_container:after,
.pager:after, .clearfix:after,
.post-body:after {
  content: "";
  display: table;
  clear: both;
}

.prev_img a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.post-author {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

body {
  font-family: "Lato", "Calibri", sans-serif;
  font-weight: 400;
  font-size: 25px;
  font-style: italic;
  line-height: 1.2;
  color: #453f43;
  background-image: url(https://60cc30a8a96589053dc649f37fa590178211341b.googledrive.com/host/0Bz6HRVCs7oBaa1ZQSDVoMmdDTXc/janesfashion/bg.png);
  background-repeat: repeat;
  background-attachment: fixed;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.content {
  width: 80%;
  max-width: 1100px;
  position: relative;
  margin: 0px auto 50px auto;
  top: 50px;
  padding: 0px;
  z-index: 2;
}

.girl {
  background-image: url(https://60cc30a8a96589053dc649f37fa590178211341b.googledrive.com/host/0Bz6HRVCs7oBaa1ZQSDVoMmdDTXc/janesfashion/figurebw.png);
  background-position: bottom right;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: fixed;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
@media screen and (max-width: 1200px) {
  .girl {
    top: 5%;
    height: 95%;
  }
}
@media screen and (max-width: 1440px) {
  .girl {
    -webkit-transform: translateX(25%);
    -ms-transform: translateX(25%);
    transform: translateX(25%);
  }
}

footer, section {
  display: block;
  padding: 10px;
}

section {
  margin: 30px 0px;
}

/* 2.2 Textstyles */
h1, h2, h3, h4, h5 {
  font-weight: 700;
}

h5 {
  font-size: 1em;
}

h4 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.6em;
}

h1 {
  font-size: 1.8em;
}

a {
  color: #c74056;
  text-decoration: none;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
a:hover {
  color: #6e2c30;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.button {
  margin-top: 10px;
  margin-right: 10px;
  padding: 14px 26px;
  font-size: 1em;
  color: #fdfdfd;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background 0.1s ease-in-out;
  transition: background 0.1s ease-in-out;
  border-radius: 5px;
  outline: 0 none;
  background-color: #6d646a;
  -webkit-box-shadow: 0px 3px 0px 0px #484146;
  box-shadow: 0px 3px 0px 0px #484146;
}
.button:hover, .button:focus {
  background-color: #824f71;
}
.button:active, .button:focus {
  padding-top: 15px;
  margin-bottom: -1px;
  outline: 0 none;
  -webkit-box-shadow: 0px 1px 0px 0px #2a2729;
  box-shadow: 0px 1px 0px 0px #2a2729;
}

.main_menu {
  text-align: center;
  position: relative;
  top: 0px;
  width: 100%;
  max-width: 100%;
  left: 0px;
}

#menu {
  position: relative;
  margin: 0px auto;
  display: block;
  max-width: 1500px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fafaf5;
  font-size: 1em;
  width: 100%;
  z-index: 105;
}
@media screen and (max-width: 1200px) {
  #menu {
    background: #453f43;
  }
}
#menu a {
  color: #fafaf5;
}
#menu a:hover {
  opacity: .8;
}
#menu .toggle_link {
  display: none;
}
#menu > ul {
  text-align: center;
}
#menu li {
  display: inline-block;
  padding: 20px 7px;
  -webkit-transition: .3s all linear;
  transition: .3s all linear;
}
@media screen and (min-width: 1201px) {
  #menu li > a {
    margin-top: 10px;
    margin-right: 10px;
    padding: 14px 26px;
    font-size: 1em;
    color: #fdfdfd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
    border-radius: 5px;
    outline: 0 none;
    background-color: #453f43;
    -webkit-box-shadow: 0px 3px 0px 0px #201d1f;
    box-shadow: 0px 3px 0px 0px #201d1f;
  }
  #menu li > a:hover, #menu li > a:focus {
    background-color: #523247;
  }
  #menu li > a:active, #menu li > a:focus {
    padding-top: 15px;
    margin-bottom: -1px;
    outline: 0 none;
    -webkit-box-shadow: 0px 1px 0px 0px #020202;
    box-shadow: 0px 1px 0px 0px #020202;
  }
}
@media screen and (max-width: 1200px) {
  #menu li > a {
    width: 100%;
    display: block;
  }
}
#menu li:hover {
  -webkit-transition: .3s all linear;
  transition: .3s all linear;
}
@media screen and (max-width: 1200px) {
  #menu li:hover {
    background: rgba(199, 64, 86, 0.4);
  }
}
#menu li:hover > a {
  color: #fdfdfd;
}
@media screen and (min-width: 1201px) {
  #menu .social i {
    padding: 0px 14px;
  }
}
#menu .parent {
  margin-left: 0;
  position: relative;
}
#menu .parent > ul {
  padding-top: 0px;
  display: none;
}
@media screen and (min-width: 1201px) {
  #menu .parent > ul {
    background: #453f43;
    position: absolute;
    top: 100%;
    left: 0;
    width: auto;
  }
}
#menu .parent > ul li {
  display: block;
  padding: 10px 0px;
}
@media screen and (min-width: 1201px) {
  #menu .parent > ul li {
    padding: 10px 7px;
  }
}
#menu .parent:hover, #menu .parent:focus {
  cursor: pointer;
}
#menu .parent:hover > ul, #menu .parent:focus > ul {
  display: block;
}
@media screen and (max-width: 1200px) {
  #menu {
    position: absolute;
    padding: 35px 0px 0px;
    width: 320px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    left: -320px;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    z-index: 108;
  }
  #menu .toggle_link {
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
  }
  #menu .toggle_link:after {
    content: "";
  }
  #menu > ul {
    text-align: center;
    width: 100%;
    position: relative;
  }
  #menu li {
    display: block;
    padding: 10px 15px;
    border-top: 1px solid #524b50;
  }
  #menu li:first-of-type {
    border-top: 0px solid transparent;
  }
  #menu li:hover {
    -webkit-transition: .3s all linear;
    transition: .3s all linear;
    background: rgba(199, 64, 86, 0.4);
  }
  #menu .parent {
    margin-left: 0;
  }
  #menu .parent > ul {
    padding-top: 15px;
    display: none;
  }
  #menu .parent > ul li {
    padding: 10px 0px;
  }
  #menu .parent > ul li:first-of-type {
    border-top: 1px solid #524b50;
  }
  #menu .parent:hover, #menu .parent:focus {
    cursor: pointer;
  }
  #menu .parent:hover > ul, #menu .parent:focus > ul {
    display: block;
  }
}

#menu.active {
  -webkit-transform: translate(320px, 0px);
  -ms-transform: translate(320px, 0px);
  transform: translate(320px, 0px);
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.toggle_nav {
  display: none;
}
.toggle_nav .toggle_link {
  display: none;
}
@media screen and (max-width: 1200px) {
  .toggle_nav {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 104;
    background: #453f43;
    height: 55px;
    padding: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .toggle_nav .toggle_link {
    color: #fafaf5;
    border: 2px solid #121212;
    padding: 7px 15px;
    border-radius: 3px;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
  }
}
@media screen and (max-width: 1200px) and (max-width: 240px) {
  .toggle_nav .toggle_link {
    font-size: 80%;
  }
}
@media screen and (max-width: 1200px) {
  .toggle_nav .toggle_link:hover {
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    border-color: #fdfdfd;
    background: rgba(255, 255, 255, 0.5);
  }
  .toggle_nav .toggle_link {
    left: 5px;
  }
  .toggle_nav .toggle_link:after {
    content: "Menu";
  }
}

.head {
  text-align: center;
}
.head h1 {
  font-weight: 300;
  font-style: italic;
  font-size: 4em;
}
.head a {
  color: #121212;
}
.head a:hover {
  color: #5f5f5f;
}

article img {
  max-width: 100%;
}

.index article,
.static_page .post_prev {
  width: 32%;
  float: left;
}
.index article:nth-child(n),
.static_page .post_prev:nth-child(n) {
  margin-bottom: 20px;
  margin-right: 2%;
}
.index article:nth-child(3n),
.static_page .post_prev:nth-child(3n) {
  margin-right: 0;
}
@media screen and (max-width: 1060px) {
  .index article,
  .static_page .post_prev {
    width: 47.5%;
  }
  .index article:nth-child(n),
  .static_page .post_prev:nth-child(n) {
    margin-bottom: 20px;
    margin-right: 5%;
  }
  .index article:nth-child(2n),
  .static_page .post_prev:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (max-width: 720px) {
  .index article,
  .static_page .post_prev {
    width: 100%;
  }
  .index article:nth-child(n),
  .static_page .post_prev:nth-child(n) {
    margin-bottom: 20px;
    margin-right: 5%;
  }
  .index article:nth-child(1n),
  .static_page .post_prev:nth-child(1n) {
    margin-right: 0;
  }
}

.prev_img {
  position: relative;
  width: 100%;
  height: 0;
  padding: 100% 0 0 0;
}
.prev_img a {
  display: block;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.prev_img a img {
  min-height: 100%;
  min-width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
