/** Content
------------------------------------------------
    1.  Reset
    2.  General Style
        2.1 Containers
        2.2 Textstyles
    3.  Header
    4.  Navigation
    5.  Page Types
        5.1 Home Page
        5.2 Static Pages
        5.3 Item Pages
        5.4 Index Pages
    6. Components
        6.1 Date
    7. Credits  
*/
/** 1. Reset
------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, section, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer,
section, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

b, strong {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

/** 2.  General Style
------------------------------------------------*/
/* 2.1 Containers */
body {
  font-family: Lato;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.2;
  color: #453f43;
  background-image: url(https://60cc30a8a96589053dc649f37fa590178211341b.googledrive.com/host/0Bz6HRVCs7oBaa1ZQSDVoMmdDTXc/janesfashion/bg.png);
  background-repeat: repeat;
  background-attachment: fixed;
}

.content {
  width: 80%;
  max-width: 1100px;
  position: relative;
  margin: 0px auto 50px auto;
  top: 50px;
  padding: 0px;
  background-color: rgba(245, 245, 250, 0.7);
  z-index: 2;
}

.girl {
  background-image: url(https://60cc30a8a96589053dc649f37fa590178211341b.googledrive.com/host/0Bz6HRVCs7oBaa1ZQSDVoMmdDTXc/janesfashion/figurebw.png);
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: fixed;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

footer, section {
  display: block;
  padding: 10px;
}

section {
  margin: 30px 0px;
}

/* 2.2 Textstyles */
h1, h2, h3, h4, h5 {
  font-weight: bold;
}

h5 {
  font-size: 1em;
}

h4 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.6em;
}

h1 {
  font-size: 1.8em;
}

a {
  color: #c74056;
  text-decoration: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
a:hover {
  color: #6e2c30;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button,
.button:visited {
  background: #6d646a;
  color: #fafaf5;
  padding: 7px 10px;
  line-height: 2.2;
  text-align: center;
  font-weight: 700;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  -webkit-box-shadow: 0px 4px 0px 0px #2a2729;
  box-shadow: 0px 4px 0px 0px #2a2729;
  -webkit-transition: background 0.1s ease-in-out;
  -moz-transition: background 0.1s ease-in-out;
  -ms-transition: background 0.1s ease-in-out;
  -o-transition: background 0.1s ease-in-out;
  transition: background 0.1s ease-in-out;
}
.button:hover, .button:visited:hover,
.button:visited:hover,
.button:visited:visited:hover {
  background: #585055;
  color: #f5f5fa;
}
.button:active, .button:visited:active, .button:focus, .button:visited:focus,
.button:visited:active,
.button:visited:visited:active,
.button:visited:focus,
.button:visited:visited:focus {
  -webkit-box-shadow: 0px 2px 0px 0px #2a2729;
  box-shadow: 0px 2px 0px 0px #2a2729;
  top: 2px;
  -webkit-transition: background 0.1s ease-in-out;
  -moz-transition: background 0.1s ease-in-out;
  -ms-transition: background 0.1s ease-in-out;
  -o-transition: background 0.1s ease-in-out;
  transition: background 0.1s ease-in-out;
}

/** 3. Header
------------------------------------------------*/
.head {
  text-align: center;
  padding-bottom: 20px;
}
.head h1 {
  font-weight: 300;
  font-style: italic;
  font-size: 4em;
}
.head a {
  color: black;
}
.head a:hover {
  color: #4d4d4d;
}

/** 4. Navigation
------------------------------------------------*/
#menu {
  width: 100%;
  /* 1000 */
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
  font-size: .9em;
  text-aling: center;
}
@media screen and (max-width: 913px) {
  #menu {
    position: absolute;
    top: auto;
    left: auto;
    background-color: #453f43;
  }
  #menu > a {
    height: 3.125em;
    text-align: left;
    text-indent: -9999px;
    position: relative;
  }
  #menu > a:after {
    content: "";
    position: absolute;
    left: .5625em;
    top: 0.9em;
    width: 2em;
    height: 0.25em;
    background: white;
    box-shadow: 0 0.5em 0 0 white, 0 1em 0 0 white;
  }
  #menu > a:hover:after {
    background: #c74056;
    box-shadow: 0 0.5em 0 0 #c74056, 0 1em 0 0 #c74056;
  }
  #menu:not(:target)
  > a:first-of-type, #menu:target
  > a:last-of-type {
    display: block;
  }
  #menu > ul {
    height: auto;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
  }
  #menu > ul > li {
    display: block;
    width: 100%;
    background-color: #453f43;
    padding: 0 !important;
  }
  #menu > ul > li a {
    height: auto;
    text-align: left;
    padding: 0;
  }
  #menu:target
  > ul {
    display: block;
  }
  #menu li
  ul {
    position: static;
    padding: 1.25em 0;
    padding-top: 0;
  }
}
#menu > a {
  display: none;
}
#menu li {
  position: relative;
}
#menu li a {
  color: #fff;
  display: block;
}
#menu li ul {
  background-color: #453f43;
  display: none;
  position: absolute;
  top: 100%;
}
#menu li ul a {
  font-size: 1em;
  padding: 0.5em;
}
#menu li ul li
a:hover {
  background-color: #6d646a;
}
#menu li ul:not(:hover)
li.active
a {
  background-color: #6d646a;
}
#menu li:hover
ul {
  display: block;
  left: 0;
  right: 0;
}
#menu span:after {
  width: 0;
  height: 0;
  border: 0.2em solid transparent;
  border-bottom: none;
  border-top-color: rgba(255, 255, 255, 0.8);
  content: '';
  vertical-align: middle;
  display: inline-block;
  position: relative;
  right: -0.2em;
}
#menu > ul {
  height: 2.5em;
  background-color: #453f43;
  text-align: center;
}
#menu > ul:not(:hover)
> li.active
> a {
  background-color: #6d646a;
}
#menu > ul > li {
  padding: 0px 1em;
  height: 100%;
  list-style: none;
  display: inline-block;
}
#menu > ul > li:hover {
  background-color: #6d646a;
}
#menu > ul > li > a {
  height: 100%;
  font-size: 1.2em;
  /* 24 */
  line-height: 2em;
  /* 60 (24) */
  text-align: center;
}

.article_container:after {
  content: "";
  display: table;
  clear: both;
}

article {
  width: 32%;
  float: left;
}
article:nth-child(n) {
  margin-bottom: 2%;
  margin-right: 2%;
}
article:nth-child(3n) {
  margin-right: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 1060px) {
  article {
    width: 47.5%;
  }
  article:nth-child(n) {
    margin-bottom: 5%;
    margin-right: 5%;
  }
  article:nth-child(2n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 720px) {
  article {
    width: 100%;
  }
  article:nth-child(n) {
    margin-bottom: 5%;
    margin-right: 5%;
  }
  article:nth-child(1n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}
article img {
  max-width: 100%;
}

/** 5. Page Types
------------------------------------------------*/
/* 5.1  Home */
/* 5.2  Static */
/* 5.3  Item */
/* 5.4  Index */
/** 6. Components
------------------------------------------------*/
/* 6.1  Date */
/** 7. Credits
------------------------------------------------*/
